{% extends "tamu_be_base.html" %}

{% block tabs %}
{% include "tabs.html" with active_tab="forms" %}
{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="{% url "list-forms" %}">Form List</a></li>
  <li><a href="{% url "select-job-request-form" jr.id %}">Select Form Type</a></li>
  <li class="active">{{ sf.name }}</li>
</ol>
    <h3 id="form_name">Form: {{ sf.name }}</h3>
    <div id="request_form">

        <div id="jr_desc">
            <h4 class="jr_customer_info_title">
                Resident Information
            </h4>
            <ul class="jr_customer_info">
                <li>
                    Name: {{ jr.full_name }}
                </li>
                <li>
                    Phone: {{ jr.phone_number }}
                </li>
                <li>
                    Email: {{ jr.email_address }}
                </li>
                <li>
                    Address: {{ jr.address }}
                </li>

            </ul>
        </div>
        {% if form.errors %}
        <div class="alert alert-danger " role="alert">
            {% for field in form  %}
                {% if field.errors %}
                    {{ field.label }} - {% for id, error in field.errors %} {{  field.errors }} {% endfor %} <br />
                {% endif %}
            {% endfor %}

        </div>
        {% endif %}

        <form id="request-form" action="." method="POST">
            {% csrf_token %}
                <table>
                {{ form.as_table }}
                </table>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>

    </div>

{% endblock %}