{% extends "tamu_be_base.html" %}

{% block tabs %}
{% include "tabs.html" with active_tab="forms" %}
{% endblock %}

{% block content %}
    <table id="form_list" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>
            Address
        </th>
        <th>
            Form
        </th>
        <th>
            Status
        </th>
        <th>
            Job Zone
        </th>
        <th>
            Job Zone Team
        </th>
        <th>
            BigEventOnline ID
        </th>
    </tr>
    </thead>
    <tbody>
    {% for job in jobs_to_verify %}
        <tr>
        <td>
            {{ job.address }}
        </td>
        <td>
            {% if job.job_state == "needs_survey" %}
            <a href="{% url "select-job-request-form" job.id %}">Complete JSV</a>
            {% elif job.job_state == "survey_completed" %}
            <span>Submitted</span>
            {% endif %}
        </td>
        <td>
            {{ job.get_job_state_display }}
        </td>
        <td>
            {{ job.job_zone }}
        </td>
        <td>
            {{ job.job_zone_team }}
        </td>
        <td>
            <a href="#" target="_blank">{{ job.job_request_id }}</a>
        </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

    <script type="text/javascript">
        jQuery.extend( jQuery.fn.dataTableExt.oSort, {
            "enum-pre": function ( a ) {
                // Add / alter the switch statement below to match your enum list
                switch( a ) {
                    case "Needs Survey":   return 1;
                    case "Survey Completed": return 2;
                    case "Survey Canceled":    return 3;
                    default:       return 4;
                }
            },

            "enum-asc": function ( a, b ) {
                return ((a < b) ? -1 : ((a > b) ? 1 : 0));
            },

            "enum-desc": function ( a, b ) {
                return ((a < b) ? 1 : ((a > b) ? -1 : 0));
            }
        } );


        $(document).ready(function() {
            $('#form_list').DataTable( {
             columnDefs: [
               { type: 'enum', targets: 1 }
             ],
             "order": [[ 2, "desc" ]],
             "jQueryUI": true
          });
        });
    </script>
{% endblock %}